<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "it" }}">
    <head>
        {{ block "head" . }}{{ partial "html-head.html" .}}{{ end }}
        {{ block "head" . }}{{ partial "head-additions.html" . }}{{ end }}
    </head>

    <body>
        {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
        {{ block "scripts" . }}{{ partial "footer-includes.html" . }}{{ end }}
    </body>
</html>
